* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
}

ul {
    list-style: none;
}

.container {
    display: block;
    max-width: 800px;
    margin: 30px auto;
}

.tree-node__content {
    display: none;
}

.tree-node.is-content-shown > .tree-node__content {
    display: block;
}

.tree-node__name {
    display: block;
    max-width: 200px;
    background-color: lightskyblue;
    font-size: 18px;
    padding: 8px 15px;
    opacity: 1;
    transition: opacity .3s;

    &:hover {
        opacity: .8;
    }
}